@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Roboto+Mono:wght@100&display=swap');

body{  
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.Nav{
    background-color: rgb(60, 82, 92);
    margin: 0;
    display: flex;
    justify-content: space-around;
    
}

.Nav > h1{
    color: #fff;
}

.Nav > a{
    text-decoration: none;
    color: #fff;
}

.Nav > ul {
    display: flex;
    font-size: 1.5rem;
    margin-right: 25px;
}

.Nav > ul > li{
    list-style: none;
    
    margin-left: 18px;
}

.Nav > ul > li > a{
    text-decoration: none;
    color: #fff;
}

.Nav a:hover{
    color: rgb(112, 188, 116);
}

@media(max-width: 600px){
    .Nav  h1 {
        display: none;
    }
}