
.ShowTopic{
    background-color: cadetblue;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ShowTopic > h3 {
    color: black;
    width: 70%;
}
.ShowTopic span{
    display: flex;
    flex-direction: column;
}